body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(106, 211, 224);
    font-size: 16px;
    text-align: center;
}

h1 {
    font: italic bold 5em Georgia, serif;
    text-align: center;
    color: whitesmoke;
}

input {
    border: 3px solid;
    background-color: aquamarine;
    font-size: 3em;
    width: 15%;
    height: 15%;
    text-align: center;
    
}

button {
    font-size: 2em;
    margin-top: 1.5em;
}

button:hover {
    border: 3px solid black;
    background: yellow;
}